footer{
    width: 100%;
    position: absolute;
    background-color: var(--nav-color);
    bottom:0px;
}

.container{
    display: flex;
    justify-content: space-between;

}

.bienfait{
    width: 30%;
}

.bienfait p{
    font-size: 14px;
    color: gray;
   
}

.container li{
    color: gray;
}

.a_propos{
    width: 15%;

}