.recherche-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form li{
    display: flex;
    flex-direction: column;
}
.recherche-textinput {
    width: 60%;
    height: 20px;



}
.recherche-submit {
    display: inline-block;
    width: 20%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 2px;
    margin-right: 3.5%;

}

