.recherche-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form li{
    display: flex;
    flex-direction: column;
}
.recherche-textinput {
    width: 60%;
    height: 20px;
}
.recherche-submit {
    width: 20%;
}