* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color:#000000;
}
:root {
    --main-color: #DDA1FF;
    --second-color: #CC7DFA;
    --nav-color: white;
    --main-text-color: white;
    --padding-page: 10px;
    --header-height: 50px;
}

header {
    padding: var(--padding-page);
    background-color: var(--nav-color);
    height: var(--header-height);
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


main {
    height: calc(100vh - var(--header-height));
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    padding: var(--padding-page);
}
.mainPart {
    flex-basis: 60%;
    height: 100%;
}
.mainPart ul {
    height: 100%;
}
.connexionPart {
    flex-basis: 40%;
}

form {
    background-color: var(--second-color);
    margin: 10px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

li {
    display: flex;
    flex-direction: column;
}

.link_recherche {
    background-color: var(--second-color);
    padding: 50px;
}



.navi {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;

}

nav ul {
list-style-type: none;
flex-direction: unset;
height: 200px;
width: 100%;

}

nav ul li{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid solid;
}

.sous_menu{
    display: none;
    background-color: white;
    padding-left: 0px;
    width: 100%;
    z-index: 100;
}

nav > ul li:hover .sous_menu{
    display: block;
}

.sous_menu li{
    float: none;
    width: 100%;
    text-align: center;
}

.sous_menu a{
    padding: 10%;
    border-bottom: none;
}

.sous_menu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content:"";
    font-size: 12px;
}

#searchbar{
    margin-left: 15%;
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 input[type=text]:focus {
    width: 70%;
  }