* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color:#000000;
}
html {
    min-height: 100%;
}
body {
    height: 100%;
    background-color: var(--main-color);
}
:root {
    --main-color: #FFE4E1;
    --second-color:#FFDAB9 ;
    --nav-color: white;
    --main-text-color: white;
    --padding-page: 10px;
    --header-height: 50px;
}

/* General structure */
header {
    padding: var(--padding-page);
    background-color: var(--nav-color);
    height: var(--header-height);
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main {
    padding: var(--padding-page);
}

/* Page d'accueil */
.main_index {
    display: flex;
    flex-direction: row;
}

.mainPart {
    flex-basis: 60%;
}
.mainPart ul {
    height: 100%;
}
.connexionPart {
    flex-basis: 40%;
}

.bordure_connexion{
    border-radius: 10px;
}

form {
    background-color: var(--second-color);
    margin: 10px;
    padding: 10px;
}

.ul_accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

.ul_accueil li {
    display: flex;
    flex-direction: column;
}

.link_recherche {
    background-color: var(--second-color);
    padding: 50px;
    border-radius: 10px;
}

/* Filtrage page Recherche */

.form_filtre {
    display: block;
    background-color: blue;
    position: sticky;
    top: 0px;
    background-color: var(--main-color);
    height: 40px;
    width: 100%;
}

.form_filtre ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
}

.form_filtre li{
    display: flex;
    flex-direction: column;
}

/*
.form_filtre li{
    display: flex;
    flex-direction: column;
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid solid;
}

.sous_menu{
    background-color: white;
    padding-left: 0px;
    width: 100%;
    z-index: 100;
}

nav > ul li:hover .sous_menu{
    display: block;
}

.sous_menu li{
    float: none;
    width: 100%;
    text-align: center;
}

.sous_menu a{
    padding: 10%;
    border-bottom: none;
}

.sous_menu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content:"";
    font-size: 12px;
}

#searchbar{
    margin-left: 15%;
    padding: 15px;
    border-radius: 10px;
    height: 15px;
    
    
}

input[type=text] {
    width: 45%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 input[type=text]:focus {
    width: 70%;
  }

  input[type=password] {
    width: 45%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 input[type=password]:focus {
    width: 70%;
  }
  */